.firebase/
firebase.json
.firebaserc

.DS_Store
**/.DS_Store
.idea/
*.iml
.vscode/


build/
.dart-tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies

**/android/.gradle/
**/ios/Pods/
**/macos/Pods/
**/pubspec.lock
