name: slouchdetector
description: "A new Flutter project."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.2.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  
  # Le tue librerie
  provider: ^6.1.1
  http: ^1.2.0
  local_notifier: ^0.1.5
  window_manager: ^0.3.8
 
dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0


flutter:
  uses-material-design: true
